@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


@theme {
  --color-navy: #0047AB;
  --color-navy-hover: #0059CC;
  --color-secondary: #e0e0e0;
  --color-secondary-hover: #d1d0d0;
  --color-navy-dark: #264673;
  --color-stone: #f3f5f6;
  --color-stone-dark: #627084;
  --color-glass: #d1d7e0;
}